/* Générale */
body{
    margin: 0px;

    font-family: 'Ubuntu', sans-serif;
    color: rgb(99, 96, 96);
    font-size: 1.4rem;
}

main{
    width: 80%;
    margin: auto;
}

mark{
    background-color: white;
    color: #D40000;
}

hr{
    margin: 60px 0px 60px 0px;
}

/* Header */
header img{
    max-width: 300px;
    width: 100%;
}

@keyframes scale{
    from{transform: scale(1);}
    to{transform: scale(1.1);}
}

nav a{
    text-decoration: none;
    color: rgb(99, 96, 96);
    font-size: 1.4rem;
}

nav a:hover{
    color: #d40000;
    animation: scale 2s;
}

header{
    border-bottom: solid black 1px;
    margin-bottom: 100px;
}

/* Titres */
h1{
    text-align: center;
}

/* Article */
article{
    border: solid black 1px;
    box-shadow: 5px 5px 5px;

    margin-bottom: 50px;
    padding: 15px;

    background-color: white;
}

/* Address*/
address a{
    color: red;
    text-decoration: none;
}
/* div */
div.text{
    padding: 20px 0px
}

div.text p{
    margin-bottom: 50px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #CCC;
}

footer p{
    margin: 5px 10px;
}

/* Google */
div.video {
    text-align: center;
    margin-bottom: 50px;

    overflow:hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
    
div.video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* phones */
@media screen and (max-width: 799px)
{
    /* header */
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 20px;
    }

    nav a{
        margin-bottom: 20px;
    }

    footer{
        font-size: 0.8rem;
    }

    /* article */
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    article img{
        max-width: 350px;
        max-height: 200px;
        width: 100%;
        height: 100%;

        margin: 5px 15px 5px 15px;
    }

    /* address */
    address a{
        word-wrap: break-word;
    }
}

/* computers */
@media screen and (min-width: 800px)
{
    /* header */
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        padding-right: 50px;
    }

    /* article */
    article{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    article img{
        width: 25rem;
        margin: 10px 30px 10px 30px;
    }
}