/* Générale */
body{
    margin: 0px;

    font-family: 'Ubuntu', sans-serif;
    color: rgb(99, 96, 96);
    font-size: 1.4rem;
}

main{
    width: 80%;
    margin: auto;
}

mark{
    background-color: white;
    color: #D40000;
}

hr{
    margin: 60px 0px 60px 0px;
}

/* Header */
header img{
    width: 300px;
}

@keyframes scale{
    from{transform: scale(1);}
    to{transform: scale(1.1);}
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-right: 50px;
}

nav a{
    text-decoration: none;
    color: rgb(99, 96, 96);
    font-size: 1.4rem;
}

nav a:hover{
    color: #d40000;
    animation: scale 2s;
}

header{
    border-bottom: solid black 1px;
    margin-bottom: 100px;
}

/* Titres */
h1{
    text-align: center;
}

/* Article */
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid black 1px;
    box-shadow: 5px 5px 5px;

    margin-bottom: 50px;
    padding: 15px;

    background-color: white;
}

article img{
    width: 25rem;
    margin: 10px 30px 10px 30px;
}

/* Address*/
address a{
    color: red;
    text-decoration: none;
}
/* div */
div.text{
    padding: 20px 80px
}

div.text p{
    margin-bottom: 50px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #CCC;
}

/* Google */
div.video{
    text-align: center;

    margin-bottom: 50px;
}